header{
    background-color: #FFD900;
    
}
header img{
   padding-left: 3%;
   padding-top: 1%;
   padding-bottom: 1%;
    
}

main{
    /* padding: 1%; */
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: 100% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#retanguloRoxo{
    margin: 0px;
    /* padding-left: 1%; */
    padding: 0px;
    background-color:#514988 ;
    color: #FFFFFF    ;
}

#retanguloRoxo H1{
    color: #F3C61F;
    font-size: 70px;
    /* margin-left: 60px;
    padding: 15x; */
    
}   
#retanguloRoxo H3{
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
  text-align: center;
}  
#retanguloRoxo p{
    /* font-weight: bold; */
    text-align: center;
    margin-top: 100px;
    font-style:normal ;
    font-size: 30px;
    padding: 5%;;
    margin-left: 30px;
    
  }   
  

