header{
    background-color: #FFD900;
    
}
header img{
   padding-left: 3%;
   padding-top: 1%;
   padding-bottom: 1%;
    
}

main{
    /* padding: 1%; */
    display: grid;
    grid-template-columns: 45% auto;
    /* grid-template-rows: 100% ; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#retanguloRoxo{
    margin: 0px;
    /* padding-left: 1%; */
    padding: 0px;
    background-color:#514988 ;
    color: #FFFFFF    ;
}

#retanguloRoxo H1{
    color: #F3C61F;
    font-size: 70px;
    /* margin-left: 60px;
    padding: 15x; */
    
}   
#retanguloRoxo H3{
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
  text-align: center;
}  
#retanguloRoxo p{
    /* font-weight: bold; */
    text-align: center;
    margin-top: 100px;
    font-style:normal ;
    font-size: 30px;
    padding: 5%;
    margin-left: 30px;
    
  }   

  .timer{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    color: #514988;   
    padding: 35px 35px 0px 35px;
    /* color: #FFFFFF; */
    margin-bottom: 0px;
    
  }

  .timer h1{
    font-size: 65px;
    font-weight: 600;
    margin-right: 0px;
    
  }
  #MaiorCCXP{
   padding: 0px;
   margin: 0px 0px 30px 90px;
  
  color: #E33881;
  text-align: left;
  font-weight: bold;
  }

  FOOTER{
    display: grid;
    grid-template-columns: 50% auto;
  }
  
#Corre{
    color:#F3C61F;
    padding: 0px;
    margin: 0px;
    padding-left: 5%;
    font-size: 30px;
    font-weight: bold;
    
    
}  
.card-group1{
    padding-left: 4%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    
   
    
   
}
#divbutton{
    margin: 0px;
    margin-top: 7%;
    padding: 2px;
    /* align-items: center;
    text-align: center; */
}

#Garanta:hover{
color: yellow;
}
#Garanta{
    background-color: #514988    ;
    text-align: center;
    
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 10px 10px 10px 10px;
    
    width: 60%;
    height: 70%;
    border-radius: 10px;

}

